h1
{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    color: aliceblue;
}

h4
{
    font-weight: 400;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    margin-left: 10px;
    color: aliceblue;
}

.popup
{
    background-color: #273469;
    height: 350px;
    width: 400px;
    padding: auto;
}