<h1 mat-dialog-title>Edit Data</h1>
<form #form="ngForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
      <!-- <mat-form-field>
        <input matInput placeholder="Examen" name="Examen" [(ngModel)]="formData.Examen" required>
      </mat-form-field> -->
  
      <mat-form-field>
        <input matInput placeholder="Sala" name="Sala" [(ngModel)]="formData.Sala" required>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Data" name="Data" [(ngModel)]="formData.Data" required>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Ora" name="Ora" [(ngModel)]="formData.Ora" required>
      </mat-form-field>
    </mat-dialog-content>
  
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button type="submit" [disabled]="!form.valid">OK</button>
    </mat-dialog-actions>
</form>
