<div class="grid-container">
  <!-- Sidenav-ul -->
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav-sidenav"
                 [fixedInViewport]="sidenav_options.fixed" [fixedTopGap]="sidenav_options.top"
                 [fixedBottomGap]="sidenav_options.bottom">
      Sidenav
      <mat-toolbar color="primary">Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/view-menu" routerLinkActive="active">View Menu</a>
        <a mat-list-item routerLink="/edit-menu" routerLinkActive="active">Edit Menu</a>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Content-ul din sidenav -->
    <mat-sidenav-content *ngIf="isDataLoaded">
      Sidenav Content
      <h1 class="mat-h1">Dashboard</h1>
      <!-- Tabelul -->
      <router-outlet></router-outlet>
      <!-- Tabelul -->
    </mat-sidenav-content>
    <!-- Content-ul din sidenav -->
  </mat-sidenav-container>
  <!-- Sidenav-ul -->
</div>
