<div class="grid-container">
  <!-- Sidenav-ul -->
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav-sidenav"
                 [fixedInViewport]="sidenav_options.fixed" [fixedTopGap]="sidenav_options.top"
                 [fixedBottomGap]="sidenav_options.bottom">
      <div class="titlu"><mat-toolbar color="primary"><div class="meniu"><img src="..\assets\Logo.png" alt="Logo"></div></mat-toolbar></div>
      <mat-nav-list>
        <button routerLink="/view-menu" routerLinkActive="active">
        <span>
        <a><div class="scris">View Schedule</div></a>
        </span>
        </button>
        <button  routerLink="/edit-menu" routerLinkActive="active">
        <span>
        <a><div class="scris">Edit Schedule</div></a>
        </span>
        </button>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Content-ul din sidenav -->
    <mat-sidenav-content *ngIf="isDataLoaded">
      <h1 class="mat-h1">Final Exams Organizer</h1>
      <!-- Tabelul -->
      <router-outlet></router-outlet>
      <!-- Tabelul -->
    </mat-sidenav-content>
    <!-- Content-ul din sidenav -->
  </mat-sidenav-container>
  <!-- Sidenav-ul -->
</div>
