.popup
{
    font-weight: 400;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #A188A6;
    padding: auto;
}

h4
{   
    margin-left: 10px;
    margin-top: 15px;
    font-weight: 400px;
}

h5
{
    margin-left: 10px;
}