<h1 mat-dialog-title>Create a Reservation</h1>
<form #form="ngForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
      <mat-form-field>
        <input matInput placeholder="Examen" name="Examen" [(ngModel)]="formData.Examen" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Punctaj" name="Punctaj" [(ngModel)]="formData.Punctaj" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Prag" name="Prag" [(ngModel)]="formData.Prag" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Durata" name="Durata" [(ngModel)]="formData.Durata" required>
      </mat-form-field>

      <mat-form-field required>
        <mat-label>Discipline</mat-label>
        <mat-select [(value)]="formData.Disciplina" required>
        @for (discipline of this.data; track discipline) {
          <mat-option value="{{discipline.nume}}">{{discipline.nume}}</mat-option>
        }
        </mat-select>
      </mat-form-field>

      <!-- <mat-form-field>
        <input matInput placeholder="Puncte Credit" name="Puncte Credit" [(ngModel)]="formData.puncte_credit" required>
      </mat-form-field> -->

      <mat-form-field>
        <input matInput placeholder="Serie" name="Serie" [(ngModel)]="formData.Serie" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Specializare" name="Specializare" [(ngModel)]="formData.Specializare" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="An" name="An" [(ngModel)]="formData.An" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Grupa" name="Grupa" [(ngModel)]="formData.Grupa" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Sala" name="Sala" [(ngModel)]="formData.Sala" required>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Data" name="Data" [(ngModel)]="formData.Data" required>
        <mat-hint>MM/DD/YYYY</mat-hint>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Ora" name="Ora" [(ngModel)]="formData.Ora" required>
      </mat-form-field>
    </mat-dialog-content>
  
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button type="submit" [disabled]="!form.valid">OK</button>
    </mat-dialog-actions>
  </form>
  
